<br>
<h3>Multiple Linear Regression of Success by Time Spent on Various Activites: </h3>

<p>This graph uses randomized data to demonstrate the MLR method.  Be sure to check whether the assumptions of MLR are valid for your data.  check the documentation for the StatSample gem for additional details.</p>

<br>

<% @lr = @lr.summary.inspect.split("\\n") %>
<!-- The code on the next line replaces the title string with a custom output -->
<% @lr[0] = "Multiple Linear Regression Analysis: " %>
<% @lr.each do |i| %>
<%= i %>
<br>
<% end %>