<h4>Please select from the following options: </h4>

<h3>Team Members</h3>
<%= link_to 'Team', 'users/' %>
<br><br>

<h3>Performance Metrics</h3>
<%= link_to 'Stock Prices', 'stocks/' %>
<br><br>

<h3>Statistics</h3>
<%= link_to 'MLR Demo', 'stat/demo' %>
<br><br>
<%= link_to 'Data Files', 'statistics/' %>
<br>