<h1>eFish</h1>
<h3>Plan for success</h3>
<br>
<h4>Please select from the following options: </h4>
<br>
<h3>Toggl Accounts</h3>
<%= link_to 'Toggl', 'toggl/index' %>
<br>
<h3>Performance Metrics</h3>
<%= link_to 'Stock Prices', 'stocks/index' %>
<br>